---
title: Kids Plastic Surgery Wales
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">
			Burns and Plastics for Children and Young People
		</h2>
		<p class="subtext editable">
			At the Welsh Centre for Burns and Plastic Surgery we treat patients from birth up to the age of 18.<br /><br />Some of our patients will need treatment and surgery for burns, while some will have birth defects and other problems which require plastic surgery.<br /><br />Young people are treated on Ward M.<strong><em></em></strong>
		</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">
				Dealing with paediatric plastic surgery concerns
			</h3>
			<p class="editable">
				In this unprecedented time in medicine, we have been required to drastically limit patients coming to hospital to reduce the footfall and protect staff and patients.<br /><br />Although routine outpatient appointments may well be postponed for six months or more, we will endeavour to communicate with patients and families should there be an acute need. Initially this will be via telephone, internet communication or if absolutely necessary a face to face urgent appointment.<br /><br />We have put together some general advice and information on dealing with concerns related to specific conditions that child patients may experience.
			</p>
			<p class="editable">
				<a href="/portfolio/">View All Conditions &rarr;</a>
			</p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}" /></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<iframe width="300" height="150" src="https://www.youtube.com/embed/sBnz_3rIPfE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</ul>
		</div>
		<div>
			<h3 class="editable">
				Making things easier
			</h3>
			<p class="editable">
				We are always striving to improve the way we care for our young patients.<br />As part of this, we have worked with an award-winning animator to produce a cartoon called Numb and Numb-er which helps our young patients who need surgery and their families decide if local anaesthetic is right for them.<br />Local anaesthetic is often suitable for children and young people having surgery on minor lumps, bumps and injuries, but not always taken up.<br /><a target="_blank" rel="noopener" href="https://nickwilsonjones.github.io/news/2020/04/02/cartoon-will-put-young-patients-at-ease/">Find out more about our new cartoon Numb and Numb-er by reading the full story in our news pages.</a>
			</p>
		</div>
	</div>
</section>
